<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8c3ed6c7-854e-41e3-8cee-a10d3cc4b0a5/resourcegroups/DataTrust/providers/Microsoft.Web/sites/DataTrust20241105131629</ResourceId>
    <ResourceGroup>DataTrust</ResourceGroup>
    <ApiResourceId>/subscriptions/8c3ed6c7-854e-41e3-8cee-a10d3cc4b0a5/resourceGroups/DataTrust/providers/Microsoft.ApiManagement/service/DataTrustapi/apis/DataTrust</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://datatrust20241105131629.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>941c020f-009f-43aa-a071-5a6b09b589d5</ProjectGuid>
    <MSDeployServiceURL>datatrust20241105131629.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DataTrust20241105131629</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DataTrust20241105131629</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>